/* ------------------------------------
   IMPORTS
------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap');


/* ------------------------------------
   GLOBAL RESETS
------------------------------------ */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #D8EACB;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}


/* ------------------------------------
   HEADER & NAVIGATION
------------------------------------ */
header {
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    padding: .5em;
}

.logo {
    color: black;
    font-weight: bold;
}

.menu {
    cursor: pointer;
}

/* Mobile nav (hidden by default) */
nav ul {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #72A84A;
    height: 100vh;
    padding-top: 5em;
    z-index: 100;
}


/* ------------------------------------
   CLEAN FIXED LINK BEHAVIOR
------------------------------------ */

/* Default links (normal, black) */
nav ul li a {
    font-weight: normal;
    color: black;
    font-size: 1.5em;
    padding: 1em;
    display: block;
    transition: color 0.3s ease;
}

/* Hover (turn green) */
nav ul li a:hover {
    color: #72A84A;
}

/* ACTIVE link (normal weight, green) */
nav ul li a.active {
    font-weight: normal;
    color: #72A84A;
}

/* Active hover stays green */
nav ul li a.active:hover {
    color: #72A84A;
}

/* EXIT BUTTON (mobile menu) */
.exit a {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Mobile nav visible */
.open-nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}


/* ------------------------------------
   HERO SECTION
------------------------------------ */
.forest-hero {
    background: url('images/forest.jpg');
    background-size: cover;
    color: white;
}

.wrapper {
    padding: .5em;
    text-align: center;
}

.no-padding {
    padding: 0;
}

.subtitle {
    padding: 3em 0 .5em;
}

h1 span {
    display: block;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.cta {
    display: inline-block;
    padding: 1em;
    background: #72A84A;
    font-weight: bold;
    color: white;
    margin-bottom: 3em;
    margin-top: 1em;
}


/* ------------------------------------
   FEATURED CABINS
------------------------------------ */
ul.featured-cabins {
    width: 60%;
    margin: 0 auto;
}

ul.featured-cabins li {
    margin-bottom: 3em;
}

.cabin-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}

.cabin-title {
    font-weight: bold;
    font-size: 1.3em;
}

.cabin-desc,
ul.features li p,
.left p {
    line-height: 1.9em;
    font-size: .8em;
    margin-bottom: 2em;
}

.cabin-cta {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabin-cta:after {
    position: absolute;
    content: '';
    bottom: -12px;
    background: white;
    width: 100%;
    height: 1px;
}

.cabin-cta span {
    color: white;
    font-weight: bold;
}

.cabin-cta img {
    width: 10px;
}


/* ------------------------------------
   FEATURES SECTION
------------------------------------ */
.feature-container {
    background: #1A1A1A;
    color: white;
}

ul.features {
    margin: 3em auto;
    width: 70%;
}

ul.features li img {
    width: 40px;
}

ul.features li p {
    color: #CCCCCC;
}


/* ------------------------------------
   TESTIMONIALS
------------------------------------ */
.main-quote {
    font-family: 'Playfair Display', serif;
    font-size: 2.2em;
    font-style: italic;
    margin-bottom: .5em;
}

cite {
    margin-bottom: 3em;
    display: block;
}

ul.testimonials {
    margin: 3em 0;
}

ul.testimonials li {
    margin-bottom: 3em;
}

.test-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

p.test-desc {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

p.test-auth {
    font-weight: bold;
    font-size: .85em;
}


/* ------------------------------------
   LAST SECTION / FERN
------------------------------------ */
.last-container {
    position: relative;
}

.fern {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 80%;
    opacity: .1;
}


/* ------------------------------------
   MEDIA QUERIES
------------------------------------ */
@media (min-width: 550px) {

    .menu, .exit {
        display: none;
    }

    header {
        padding: 1em;
    }

    /* Desktop Nav */
    ul.nav {
        visibility: visible;
        opacity: 1;
        background: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: static;
        height: auto;
    }

    ul.nav li a {
        font-size: .9em;
        padding: 0 1em;
        color: black;
        font-weight: normal;
    }

    ul.nav li a:hover {
        color: #72A84A;
    }

    ul.nav li a.active {
        color: #72A84A;
        font-weight: normal;
    }

    ul.nav li:last-child a {
        padding-right: 0;
    }

    ul.featured-cabins {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 3em;
    }
}


@media (min-width: 650px) {
    ul.features {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 3em;
    }
}


@media (min-width: 900px) {

    .wrapper {
        text-align: left;
    }

    .flex {
        display: flex;
    }

    .hero {
        padding: 8em 4em;
    }

    .last-container {
        padding: 0 4em;
    }

    .main-copy {
        width: 40%;
    }

    p.subtitle {
        margin: 0 0 1em;
        padding: 0;
    }

    h1 {
        font-size: 3em;
        margin-top: 0;
    }

    ul.featured-cabins {
        width: 70%;
    }

    .main-quote, .main-cite {
        text-align: center;
    }

    .main-quote {
        font-size: 3em;
        margin-top: 2em;
    }

    .main-cite {
        font-size: 1.5em;
        margin-bottom: 3em;
    }

    .bio {
        width: 90%;
    }

    ul.testimonials {
        margin-left: 2em;
        width: 100%;
    }

    ul.testimonials li {
        display: flex;
        background: white;
        padding: 1.5em;
        margin-bottom: 1em;
    }

    .test-img {
        margin-right: 1em;
    }

    .test-desc {
        margin-top: .5em;
        font-size: 1.1em;
        margin-bottom: 0;
    }

    .fern {
        width: 20%;
    }

    .cabin-desc,
    ul.features li p,
    .left p {
        font-size: .9em;
    }
}
